{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <center>
        <h1>welcome to html page</h1>
        <button class="btn btn-success">mohana</button>
        <div class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
          </div>
          <h1>heading tag <span class="badge badge-secondary">h1</span></h1>
    </center>

    <script src="{% static 'css/mdb.min.js' %}"></script>
</body>
</html>