#main{
    background-color:blueviolet;
}
.a:hover{
    background-color: red;
}
.b:hover{
    background-color:gold;
}
.c:hover{
    background-color: skyblue;
}
.d:hover{
    background-color: green;
}
.mohana:hover{
    background-color: aqua;
}
.jaya:hover{
    background-color: lightcoral;
}
.sruthi:hover{
    background-color: aquamarine;
}
.buna:hover{
    background-color:lawngreen ;
}